
  .header {
    position: fixed;
    padding: 18px;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    color: #1d4ed8;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #1d4ed8;
  }
  
  .cta-button {
    background-color: #1d4ed8;
    color: rgb(236, 236, 236);
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
  
  .cta-button:hover {
    color: rgb(236, 236, 236);
    background-color: #2563eb;
  }
  
  /* Mobile styles */
  .mobile-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .mobile-menu {
    display: none;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 999;
  }
  
  .mobile-menu nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
  
  .mobile-menu nav a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  
  .mobile-menu nav a:hover {
    color: #003adb;
  }
  
  .mobile-menu .cta-button {
    text-align: center;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .cta-button{
        display: none;
    }
  
    .mobile-toggle {
      display: block;
    }
  
    .mobile-menu.active {
      display: block;
    }
  }

  @media (max-width: 1024px) {
    .nav-links {
      display: none;
    }
    .cta-button{
        display: none;
    }
  
    .mobile-toggle {
      display: block;
    }
  
    .mobile-menu.active {
      display: block;
    }
  }
  