@import url(./header.css);
@import url(./hero.css);
@import url(./service.css);
@import url(./value.css);
@import url(./team.css);
@import url(./case-study.css);
@import url(./testimonial.css);
@import url(./price.css);
@import url(./contact.css);
@import url(./footer.css);





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
  }
  
  html {
    scroll-behavior: smooth;
  }